# build outputs
dist/
themes/
theme.vsix

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# dependencies
node_modules/

# logs
*.log*

# VSCode settings folder
.vscode/
